.modal {
    visibility: hidden;
    opacity: 0;
    background-color: #00000080;   
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.35s ease, visibility 0.35s ease-in-out;
    padding: 0 10px;
}

.modal_type_preview {
    padding: 0 16px;
}

.modal_is-opened{
    visibility: visible;
    opacity: 1; 

}


.modal__container {
    width: 730px;
    border-radius: 8px;
    background-color: #fff;
    padding: 32px 50px;
    position: relative;
    gap: 32px;
    box-sizing: border-box;

}

.modal__close-btn {
    position: absolute;
    top: 32px;
    right: 50px;
    width: 40px;
    height: 40px;
     background-color: transparent;
     color: black;
     opacity: 40%;
     border-radius: 8px;
     border: none;
}

.modal__close-btn:hover {
    color: white;
    opacity: 100%;
}


.modal__close_type_preview {
    top: 0;
    right: -52.2px;
    border: none;
    background-image: url(../images/whiteX.svg);
    opacity: 1
}

.modal__title {
    margin: 0 0 32px;
    width: 169px;
    height: 32px;
    font-weight: 500;
    font-size: 32px;
    color: #212121;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal_label {
    width: 49px;
    height: 18px;
    font-weight: 500;
    font-size: 16px;
    color: #212121;
    gap: 32px;
    opacity: 70%;
    margin-left: 10px;
    display: block;
    margin-bottom: 32px;
    display: block;
}

.modal__input {
    display: block;
    width: 100%;
    height: 52px;
    font-weight: 500;
    size: 20px;
    border-radius: 8px;
    margin-top: 16px;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 16px;
    gap: 8px;
    color: #212121;
    opacity: 40%;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
    margin: 8px 0 0;
}


.modal__input:hover {
    border-color: #212121;
    opacity: 100%;
}

.modal__input_type_error {
border: 1px solid rgba(255, 0, 0, 0.6);
}


.modal__input::placeholder {
    color: #212121;
    width: 163px;
    height: 20px;
    font-weight: 500;
    size: 20px;
    font-style: medium;
    opacity: 40%;
    margin-right: 50px;
    gap: 8px;
}

.modal__error {
    display: block;
    color: red;
    margin-top: 8px;
}


.modal__submit-btn {
    background-color: #212121;
    color: white;
    border: none;
    width: 156px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;   
    border-radius: 8px;
    margin-top: 18px;
    margin-right: 32px;
    margin-bottom: 18px;
    max-width: none;
    width: 156px;
}

.modal__submit-btn_disabled {
    opacity: 40%;
}
.modal__submit-btn:hover {
    background-color: #212121;
    opacity: 80%;
}

.modal__image-container {
    position: relative;
}

.modal__image {
    max-width: 80vw;
    max-height: 80vh;
    width: 100%;
    object-fit: contain;
    display: block;
    border-radius: 8px;
} 

.modal__caption {
    color: white;
    display: block;
    font-size: 14px;
    background-color: #212121;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 8px;
    margin-top: 10px;
    
}


@media screen and (max-width: 627px) {
    .modal__close_type_preview {
        top: -48px;
        right: 0;
    }

    .modal__image {
        max-width: unset;
    }

 .modal__container {
    width: 100%;
    padding: 12px;
    gap: 24px;
 }

 .modal__title {
    font-size: 20px;
 }

.modal__input {
/* width: 276px; */
width: 100%;
height: 48px;
margin-bottom: 16px;
}

.modal__close-btn {
    position: absolute;
    top: 81px;
    right: 1228px;
    width: 22.63px;
    height: 22.63px;
     background-color: transparent;
     color: black;
     opacity: 40%;
     border-radius: 8px;
     border: none;
}



.modal__submit-btn {
    /* width: 276px; */
    width: 100%;
    height: 52px;
    border-radius: 8px;  
    margin-top: 18px;
   margin: auto;
   gap: 8px;
}

.modal__label {
font-size: 16px;
color: #212121;
opacity: 70%;
}

}
