@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../pages/index.css);
@import url(../blocks/profile.css);
@import url(../blocks/content.css);
@import url(../blocks/cards.css);
@import url(../blocks/card.css);
@import url(../blocks/footer.css);
@import url(../blocks/modal.css);
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); 


.header {
    background-color: #FFFF;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

body {
    background-color: #fcf5e5;
}
/* 
.header__logo {
    width: 94px;
    height: 26px;  
} */


